<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icons.css">
    <script src="js/character.js"></script>
    <!-- <script src="js/character_creation.js"></script> -->
    <script src="js/data/character_creation-great_powers.js"></script>
    <script src="js/data/extras.js"></script>
    <script src="js/data/limites.js"></script>
    <script src="js/data/specialites.js"></script>
    <!-- <script src="js/icons.js"></script> -->
    <script src="js/utils/vue3-sfc-loader.js"></script>
    <script src="js/utils/vue3.4.15.js"></script>
    <title>Icons Hero Generator</title>
</head>
<style>
    body {
        height: 100vh;
    }
</style>

<body>

    <div id="app">
        <div class="tabs">
            <div v-for="(tab, key) in tabs" :key="key">
                <input type="button" :value="key" @click="display(key)">
            </div>
        </div>
        <div id="main">
            <div v-if="currentTab !=='character'">
                <div v-for="(value, key) in currentTabContent" :key="key">
                    <div v-if="typeof value === 'object'">
                            <span class="name">{{ value.name }}:</span>

                            <span class="value">{{ value.value }}</span>
                    </div>
                    <div v-else>
                            <span class="name">{{ key }}:</span>

                            <span class="value">{{ value }}</span>
                    </div>
                </div>
            </div>
            <div v-else-if="tabs.character">
                <input type="button" value="generate!" @click="generateCharacter()">
                <input type="button" value="save!" @click="saveCharacter()">
                <input type="button" value="load!" @click="loadCharacter()">
                <h3>attributs</h3>
                <div class="attributes">
                    <div v-for="(value, key) in tabs.character.attributes" :key="key">

                            <span class="name">{{ value.name }}:</span>

                            <span class="value">{{ value.level }}</span>
                    </div>
                </div>
                <h3>Pouvoirs</h3>
                <div v-for="(value, key) in tabs.character.powers" :key="key">
                    <p>
                        <span class="name">{{ value.name }}:</span>
                        <span class="value">{{ value.level }}</span>
                        <span class="page" v-if="value.page"> (p{{ value.page }})</span>
                    </p>
                </div>
                <h3>origine:</h3>
                <p>
                    <span class="name">{{ tabs.character.origin.name }}:</span>
                    <span class="value">{{ tabs.character.origin.description }}:</span>
                </p>
                <h3>Spécialités:</h3>
                <div v-for="value in tabs.character.specialities">
                        <div class="value">{{ value }}</div>

                </div>
            </div>

        </div>
    </div>
</body>
<script>
    const { createApp } = Vue;

    createApp({
        data() {
            return {
                tabs: {
                    'character': null,
                    'extras': extras,
                    'limites': limites,
                    'specialites': specialites
                },
                currentTab: 'character',
            }
        },
        computed: {
            currentTabContent() {
                return this.tabs[this.currentTab];
            }
        },
        mounted() {
            this.tabs.character = this.getSavedCharacter();
            console.log(this.tabs.character);
        },
        methods: {
            display(tab) {
                this.currentTab = tab;
            },
            generateCharacter() {
                this.tabs.character = new Character();
            },
            saveCharacter() {
                localStorage.setItem('character', JSON.stringify(this.tabs.character));
            },
            getSavedCharacter() {
                return JSON.parse(localStorage.getItem('character'));
            },
            loadCharacter() {
                this.tabs.character = this.getSavedCharacter();
            }
        }
    }).mount('#app');
</script>

</html>