<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icons.css">
    <script src="js/character.js"></script>
    <!-- <script src="js/character_creation.js"></script> -->
    <script src="js/data/character_creation-great_powers.js"></script>
    <script src="js/data/extras.js"></script>
    <script src="js/data/limites.js"></script>
    <script src="js/data/specialites.js"></script>
    <!-- <script src="js/icons.js"></script> -->
    <script src="js/utils/vue3-sfc-loader.js"></script>
    <script src="js/utils/vue3.4.15.js"></script>
    <title>Icons Hero Generator</title>
</head>
<style>
    body {
        height: 100vh;
    }

    .character-actions {
        flex-wrap: wrap;
        display: flex;
        gap: 10px;
    }
</style>

<body>

    <div id="app">
        <div class="tabs">
            <div v-for="(tab, key) in tabs" :key="key">
                <input type="button" :value="key" @click="display(key)">
            </div>
        </div>
        <div id="main">
            <div v-if="currentTab !=='character'">
                <div v-if="currentTabContent.description">
                    <p v-html="currentTabContent.description"></p>
                </div>
                <div v-for="(value, key) in currentTabContent.list" :key="key">
                    <div v-if="typeof value === 'object'">
                        <span class="name">{{ value.name }}:</span>

                        <span class="value">{{ value.value }}</span>
                    </div>
                    <div v-else>
                        <span class="name">{{ key }}:</span>

                        <span class="value">{{ value }}</span>
                    </div>
                </div>
            </div>
            <div v-if="currentTab === 'character'">
                <div class="character-actions">
                    <input type="button" value="générer un nouveau personnage" @click="generateCharacter()">
                    <input type="button" value="sauvegarder ce personnage" @click="saveCharacter()">
                    <input type="button" value="charger le personnage sauvegardé" @click="loadCharacter()">
                    <input type="button" value="effacer le personnage sauvegardé" @click="clearCharacter()">
                </div>
                <div v-if="tabs.character && tabs.character.attributes">
                    <h3>attributs</h3>
                    <div class="attributes" v-if="tabs.character.attributes">
                        <div v-for="(value, key) in tabs.character.attributes" :key="key">

                            <span class="name">{{ value.name }}:</span>

                            <span class="value">{{ value.level }}</span>
                        </div>
                    </div>
                    <h3>Pouvoirs</h3>
                    <div v-for="(value, key) in tabs.character.powers" :key="key">
                        <p>
                            <span class="name">{{ value.name }}:</span>
                            <span class="value">{{ value.level }}</span>
                            <span class="page" v-if="value.page"> (p{{ value.page }})</span>
                        </p>
                    </div>
                    <h3>origine:</h3>
                    <p>
                        <span class="name">{{ tabs.character.origin.name }}:</span>
                        <span class="value">{{ tabs.character.origin.description }}:</span>
                    </p>
                    <h3>Spécialités:</h3>
                    <div v-for="value in tabs.character.specialities">
                        <div class="value">{{ value }}</div>
                    </div>
                    <h3>description:</h3>
                    <div>
                        Après avoir déterminé les capacités de votre héros, inventez-lui une histoire et une
                        description. En particulier, imaginez son lieu de naissance, son enfance et son milieu culturel.
                        Comment a-t-il acquis ses pouvoirs surhumains ? Quels sont les éléments de son histoire qui sont
                        à l’origine des motivations et des gageures de sa vie actuelle ? À quoi ressemble votre héros ?
                        Imaginez son physique, son costume, sa taille, sa coiffure et son style, ses manières et tous
                        les autres détails remarquables. Si vous vous sentez l’âme d’un artiste, vous pouvez dessiner
                        votre héros pour aider les autres joueurs à mieux se le représenter. Vous pouvez aussi utiliser
                        ou modifier une image existante pour lui donner son apparence.
                    </div>
                    <h3>Ténacité</h3>
                    <div>Soustrayez le nombre total de pouvoirs de votre héros de 6 pour connaître son niveau de
                        Ténacité, avec un minimum de 1 – en gardant à l’esprit que chaque attribut au-dessus de 6 compte
                        comme un pouvoir et que les extras comme les limites peuvent modifier le total de Ténacité que
                        coûte un pouvoir. Le héros commence avec un nombre de points de Ténacité égal à son niveau de
                        Ténacité et ce capital de points est rafraîchi au début de chaque nouveau numéro (mais si le
                        joueur a acquis des points surnuméraires, ceux-ci ne sont pas perdus). <p><strong>Niveau de
                                Ténacité = 6 – nombre total de Pouvoirs</strong></p>
                    </div>
                    <h3>Aspects:</h3>
                    <div>
                        <div>Choisissez trois aspects pour votre héros. Vous activerez ces aspects en cours de jeu pour
                            obtenir des avantages ou compliquer la vie de votre héros (ce qui permet de gagner des
                            points de Ténacité). Reportez-vous à la section Aspects du chapitre « Les bases » pour
                            savoir comment cela fonctionne. Les aspects de votre héros peuvent être de toute nature,
                            mais souvenez-vous qu’ils doivent idéalement être source d’avantages comme de complications.
                            Bref, s’avérer aussi positifs que négatifs, tout en étant suffisamment larges pour
                            s’appliquer à de nombreuses situations. Trop vagues, ils ne signifient plus rien. « Choisi
                            par les esprits » ou « Champion de Tuatha » sont de bons exemples d’aspects alors que «
                            Puissant » ou « Héroïque » sont trop larges et trop fades. Les bons aspects sont souvent de
                            courtes phrases ou des adjectifs.</div>
                        <div>Les questions qui suivent peuvent
                            vous être utiles pour décider de vos
                            aspects :
                            <ul>
                                <li><strong>Qui êtes-vous ?</strong> Les aspects les
                                    plus simples décrivent qui est le
                                    personnage, souvent sous la forme
                                    d’un titre, d’une épithète ou d’un
                                    surnom comme « Sorcière Secrète
                                    du Sixième Soleil », « Choisi par
                                    la Déesse de la Vengeance »,
                                    « Sombre Défenseur », « Maître des
                                    Esprits » et ainsi de suite.
                                </li>
                                <li><strong>Qu’est-ce qui vous pousse en
                                        avant ?</strong> Votre héros est-il motivé
                                    par la protection des innocents ou
                                    par l’idée que la justice doit toujours
                                    prévaloir ? Est-ce une vocation
                                    comme « Ambassadeur de la Paix »
                                    ou « Homme d’Action » ? Peut-être
                                    votre héros est-il « Assoiffé de
                                    savoir » ou croit-il que « La science
                                    nous sauvera » ? Est-il à l’oeuvre
                                    pour « Défaire une conspiration
                                    de vilains » ou « Traîner un ennemi
                                    devant la justice » ?
                                </li>
                                <li><strong>Qu’est-ce qui vous attire
                                        des ennuis ?</strong> Si tous les aspects
                                    des ennuis ? Si tous les aspects
                                    n’ont pas à être négatifs, certains
                                    entraînent forcément des complications,
                                    comme être un « Chasseur de
                                    démons », le « Fléau de la pègre »,
                                    « Ex Sombre Assassin » ou même
                                    être « Le meilleur dans sa partie »,
                                    si ce que vous faites n’est pas très
                                    joli. Réfléchissez à des aspects qui
                                    peuvent vous causer des problèmes.
                                </li>
                                <li><strong>Que faites-vous ?</strong> Les aspects
                                    peuvent décrire ce que fait le héros,
                                    qu’il s’agisse d’une profession
                                    comme « Journaliste en croisade »
                                    ou « Avocat pétri de principes »,
                                    d’un style comme « Récite de la
                                    poésie » ou « Surgit de l’ombre »,
                                    une devise comme « Doux Jésus ! »
                                    ou « Soyez Témoin ! », un trait de
                                    caractère comme « Ne s’arrête
                                    jamais de parler ».
                                </li>
                                <li><strong>Qu’est-ce qui vous rend
                                        unique ?</strong> Un aspect peut différencier
                                    unique ? Un aspect peut différencier
                                    le héros d’autres personnages
                                    possédant les mêmes capacités
                                    s’il est, par exemple, un « Expert
                                    renommé dans l’étude des radiations
                                    », un « Vétéran de l’Age
                                    d’Or », un « Industriel milliardaire »
                                    ou un « Jet-setter ».
                                    Idéalement, certains aspects répondront
                                    à plusieurs de ces questions.
                                    Plus un aspect sera à même d’être
                                    mise en avant et interprété et plus il
                                    vous sera utile en cours de jeu. </li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

    </div>
    </div>
</body>
<script>
    // TODO: ajouter les règles de gestion des extras et des limites ()
    // TODO ajouter le style "ICONS"
    const { createApp } = Vue;

    createApp({
        data() {
            return {
                tabs: {
                    'character': null,
                    'extras': extras,
                    'limites': limites,
                    'specialites': specialites
                },
                currentTab: 'character',
            }
        },
        computed: {
            currentTabContent() {

                return this.tabs[this.currentTab];
            }
        },
        mounted() {
            app = this
            let savedCharacter = this.getSavedCharacter();
            if (savedCharacter) {
                this.tabs.character = savedCharacter;
            } else {
                this.tabs.character = new Character();
            }
        },
        methods: {
            display(tab) {
                this.currentTab = tab;
            },
            generateCharacter() {
                this.tabs.character = new Character();
            },
            saveCharacter() {
                localStorage.setItem('character', JSON.stringify(this.tabs.character));
            },
            getSavedCharacter() {
                return JSON.parse(localStorage.getItem('character'));
            },
            loadCharacter() {
                this.tabs.character = this.getSavedCharacter();
            },
            clearCharacter() {
                localStorage.removeItem('character');
                this.tabs.character = null;
            }
        }
    }).mount('#app');
</script>

</html>